################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScrapingWithSelenuim/.vs/ScrapingWithSelenuim/v15/Server/sqlite3
/ScrapingWithSelenuim/.vs
